*{
	margin: 0;
	padding: 0;
	font: 1,3em "Open Sans",sans-serif;

}

body {
  
 background-image: url("Images/wallhaven-468520.jpg");
 background-size: cover;
}
.myimg{
	width: 80%; 
	height: 100%;
}
.icons{
	width: 3%;
	height: 2%;
}
/*----------------------------------------------------*/
.top_menu{
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
	width: 100%;
	background-color: #333 ;
	color: #fff;
	height: 4%;
	transition: top .6s;

}
.menu.animate{
	top: 4%;

}
.top_menu.animate{
	top: 0%;

}

.top_menu > ul > .material-icons {
	float: left;
		   background-color: #333; 
  color: #ff0055;

}
.menu{
	position: fixed;
	left: 0;
	top: 25%;
	border-top: 0;
	z-index: 100;
	box-shadow: 110px 5px 5px red  ;
	width: 100%;
	background-color: #333 ;
	color: #fff;
	height: 8%;
	transition: top .7s;
}
.menu #logo {
	float: left;
	width: 27%;
	height: 170%;
	padding: 0% 1%;
	font-size: 1.2em;
	line-height: 30px;

}
.menu > ul{
	margin: 0;
	padding: 0;
	float: left;
	list-style-type: none;

}
.menu > ul > li {
	float: left;
}
.menu-item{
	display: inline-block;
	padding: 15px 20px;
	height: 30px;
	line-height: 30px;
	color: #fff;
	text-decoration: none;
	font-family: 'Poppins',sans-serif ;

}
.menu-item:hover {
	background-color: #ff0055;
	color: #566


}


/*------------------ styling subn----------------------------------*/
.sub-content {
	position: absolute;
	top: 60px;
	overflow: hidden;
	background-color: #333; 
	max-height: 0;
}
.sub-content a {
	color: rgb(218, 218, 218);
	text-decoration: none;
	font-family: 'Poppins',sans-serif ;

}
.sub-drop{
	padding: 0;
}
.sub-drop ul {
	width: 100%;
	padding: 0;
	margin: 0;
	list-style-type: none;
}
.sub-drop ul li a {
	display: inline-block;
	padding: 10px 20px;

}
.sub-drop ul li:hover {
	background-color: #ff0055;
}
/*------------------ controling----------------------------------*/
.menu-item:focus{
	background-color: #ff0055
}
.menu ul li:hover .sub-content{
	max-height: 400px;
	transition: max-height 0.5s ease-in;
}

.nav_menu{
	float: left;
	font-family: unset;
	font-size: 70%;
	width: 700px;
	height: 100%;
	padding-left: 13%;

	

}
.header > img{
	padding-left: 15%;
	width: 100%;
	height: 100%;
	padding-top: 3%;

}
.header{
	position: fixed;
	height: 20%;
	width: 50%;
	padding-left: 28%;
	transition: top .15s;

}
.header.animate{
	top: -400px;

}
.social_media > ul {
	list-style: none;
	padding-left: 15%;
}
.social_media > ul > li {
	float: left;
	padding-left: 10px;
	margin: 0 0 10px 0;
}
.top_menu > ul > i > .material-icons {
	padding-left: 20px;
}
.search {
	float: right;
}
button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 0 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 7px;
  margin: 0 0;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

button {
  background-color: #333; 
  color: #ff0055;
  width: 10px

}

button:hover {
  background-color: #ff0055;
  color: black;
}

ul > button {
	   background-color: #333; 
 	 color: #ff0055;

}
ul > button hover {
  background-color: #ff0055;
  color: black;


}
.div2 {
      background-image: url("Images/wallhaven-488027.jpg");
    margin: 285px 10px 30px 0;
      width: 65%;
      height: 100%;
   	box-shadow: 0 0 18px 9px black;
   	float: right;

}
.search-form {  border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
	vertical-align: baseline;
	width: 18%;
	height: 100%;
}
.link-img{
	width: 65%;
	 height: 65%;
}
.search-field{
	width: 80%;
	height: 100%;
}
.div2 > #AR {
	text-align: right;
	margin: 0 0 30px;
}
.div2 > p {
	margin: 0 0 30px 0;
	text-shadow: transparent;
}
.div2 > h3 {
	margin: 0 0 30px 0;
	font-family: cursive;
}
.div2 > h1 {
	text-align: center;
	font-family: cursive;
	margin: 0 0 40px 0;

}
.div3 {
    background-image: url("Images/wallhaven-488027.jpg");
  width: 99%;
  height: 100%;
  float: left;
  border-style: solid;
  margin-left: 0.5%;
  margin-bottom: 0.5%;
  box-shadow: 0 0 9px 4px black;
}
.search-form {  border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    float: right;
}
.search-submit {
	width: 18%;
	height: 25%;
	font-size: 100%;

}
.div1 {  
  background-image: url("Images/wallhaven-488027.jpg");
    margin: 285px 10px 30px 10px;
      width: 30%;
      height: 100%;
   	box-shadow: 0 0 18px 9px black;
   	float: left;

}
.divin{
	float: left;
	width: 50%;
	background-image: url("Images/wallhaven-488027.jpg");
}
.divout{
	float: right;
	width: 50%;
	

}
.div3 > .divin > h3 {
	font-family: cursive;
	margin: 0 0 20px 0;

}
.div3 > .divin > p{
text-align: center;
}
.divout > ul > li {
	padding-left: 40px;
	margin: 20px 0 10px 0;
}
.divout > ul > li {
	list-style: none;
}
.div3 > .divout > h3 {
	font-family: cursive;
	margin: 0 0 20px 0;

}
form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 70%;
  background: #f1f1f1;
 margin-top: 20px;
}

/* Style the submit button */
form.example button {
	margin-top: 20px;
  float: left;
  width: 15%;
  padding: 10px;
  background: #333;
  color: #ff0055;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.example button:hover {
  background: #ff0055;
  color: #333;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}
@keyframes slider {

0% {
	left: 0%;
}

20% {
	left: 0%;
}

40% {
	left: -100%;
}
60% {
    left: -100%;

}

80% {
		left: -200%;

}

100% {
	left: -200%;
}
100% {
	left: -200%;
}
80% {
	left: -200%;
}
60% {
	left: -100%;
}
40% {
    left: -100%;

}
20% {
	left: 0%;
}

0% {
	left: 0%;
}
}

#slider {
	overflow: hidden;
}

#slider figure img {
	width: 20%;
	float: left;
}

#slider figure {
	position: relative;
	width: 500%;
	margin: 2% 0 0 0 ;
	left: 0;
	text-align: left;
	font-size: 0;
	animation: 30s slider infinite; 

}
.div1 ul {
  list-style-type: none;
  margin: 12% 12% 10% 10%;
  padding: 0;
  height: 70%;
  width: 70%;
  background-color: #333;
}

.div1 li a {
  display: block;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  margin: 20px 0 0 0;
  font-family: 'Poppins',sans-serif ;
}


.div1 li a:hover {
  background-color: #ff0055;
  color: #333;
}
  .div1 ul .c1 {
  	text-align: center;
  	font-family: cursive;

  }
  .flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
  float: right;
  margin: 30px 0 0 100px; }

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}
/*-------mobile style-----*/
.burger{
	float: right;
	width: 4%;
	
	top: 0%;
	
}
.burger{
	display: none;
}
.burger div{
	width: 25px;
	height: 3px;
	background-color: #fff;
	margin: 5px;
	
}
@media screen and (max-width:1250px){
	.menu{
		top: 20%;
	}
	.nav_menu{
		float: left;
		font-family: unset;
		font-size: 60%;
		width: 650px;
		height: 100%;
		padding-left: 10%;
		
	
		
	
	}
}

@media screen and (max-width:1120px){
	.search-form{
		width: 22%;
	}
	.menu{
		top: 18%;
		height: 7%;
	}
	.div1{
		top: 22%;
	}
	.nav_menu{
		float: left;
		font-family: unset;
		font-size: 60%;
		width: 70%;
		height: 100%;
		padding-left: 10%;
		
	
		
	
	}
}

@media screen and (max-width:1000){
	.nav_menu{
		float: left;
		font-family: unset;
		font-size: 40%;
		width: 65%;
		height: 100%;
		padding-left: 10%;
		
	
		
	
	}
}
@media screen and (max-width:935px){

	.menu{
		height: 7%;
	}
	.nav_menu{
		font-size: 45%;
		width: 70%;
		}
		.logo{
			width: 20%;
		}
		.header{
			top: 2.5%;
		}
.search-field{
	width: 70%;
}
}
@media screen and (max-width:768px){
	
	body{
		overflow-x: hidden;
	}
	.search-field{
		width: 70%;
		height: 100%;
	}
	.search-submit{
		width: 18%;
		height: 25%;
	}
	.header{
top: 4%;

}
.menu{
	height: 5%;
	top: 15%;
}
.nav_menu{
	position: absolute;
	right: 0px;
	height: 92vh;
	top: 5vh;
	background-color: #333;
	width: 40%;
	display: flex;
	flex-direction: column;
	align-items: center;
	display: none;
	transition: transform 0.9s;

}
.div2{
	width: 100%;
	height: 100%;
	margin: 35% 2% 5% 2%;
}
.div1{
	display: none;
}

.burger{
	float: left;
	padding-left: 60%;
	display: block;
	
}
.animation{
	display: flex;
}

}


